:root {
    --blanco: #ffffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, ::after, *::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Krub, sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--secundario);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        gap: 2rem;
    }
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2 {
    color: var(--blanco);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    text-align: center;
    line-height: 2;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    