:root {
    --blanco: #ffffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, ::after, *::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Krub, sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--secundario);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        gap: 2rem;
    }
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2 {
    color: var(--blanco);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    text-align: center;
    border:none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover{
    cursor:pointer;
}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    text-align: center;
    line-height: 2;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*contacto*/
.formulario{
    background-color: var(--gris);
    width:min(60rem, 100%);
    /*es como preguntarle: que es mas pequeño 60 rem o 100% del ancho de la pantalla?
    si tengo un smartphone con 488ps de ancho que valor tomará? el 100% por qe es menoe
    */
    margin: 0 auto; /*para poner margen*/
    border-radius: 1rem;
}
.formulario fieldset
{
    border: none; /*quitar borde por defento de fielset*/

}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; /*testo en mayus*/
    /*text-transform: lowercase;*/
    color:var(--primario)
}
.contenedor-campos{

}

.campo{
    margin-bottom: 1rem;

}
.campo label{
    color: var(--blanco);
    font-weight:bold;
    margin-bottom: .5rem;
    /*tomará el espacio disponible*/
    display: block;
}
.input-text{
    width: 100%;
    border:none;
    padding: 1.5rem;
    border: .5rem;
}
.campo textarea{
    height: 20rem;

}
/*utilidades*/
.w-sm-100{
    width:100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}
.flex
{
    display: flex;
}
/*alinear el boton "enviaar a la derecha*/
.alinear-derecha{
    justify-content: flex-end;
}
/*ACOMODAR CAMPOS*/
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
        /*darle espacio a cada fila*/
        grid-template-rows: auto auto 20rem;
        }
        .campo:nth-child(3),/*correo*/
        .campo:nth-child(4) /*mensaje*/{
            /*ve de la columna 1 a la 3*/
            grid-column: 1/3;   
    }
 }
.footer{
    text-align: center;
}
